/***GÉNÉRAL***/
body{
    background-image: url('grid_2.jpg');
    background-repeat: no-repeat;
    
}
h2{
    font-family:Manjari;
    color: white;
}
div{
    font-family: "Pixel Operator";
}




/***SELECT***/
select{
    background-color: rgb(235, 235, 235); 
    border: 0px;
    border-radius: 5px;
    margin-right: 20px;
    font-family:Manjari;
    font-size: 20px;
    padding-top:5px ;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

select:hover {
    background-color: rgb(76, 152, 175);
    color: rgb(255, 255, 255);
}


/***PALETTE COULEUR***/
.palette{
    
    margin-top: 10px;
    margin-right: 10px;
    display: flex;

    .select_color{
        height: 46px;
        width: 46px;
        border: ridge  rgb(222, 222, 222);

        .first_color{
            height: 20px;
            width: 20px ;
            border: ridge  rgb(222, 222, 222);
            position: relative;
            top: 5px;
            left: 5px;
            z-index: 2;
        }

        .second_color{
            height: 20px;
            width: 20px ;
            border: ridge  rgb(222, 222, 222);
            position: relative;
            left: 16px;
            bottom: 10px;
            background-color: white;
        }
    }

    .all_colors{
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        height: 45px;
        .color{
            height: 20px;
            width: 20px ;
            border: ridge  rgb(222, 222, 222);
        }
        .color:nth-child(1){
            background-color: #e0a3c4;
        }
        .color:nth-child(2){
            background-color:#ecd6e2; 
        }
        .color:nth-child(3){
            background-color:#3b8ccb; 
        }
        .color:nth-child(4){
            background-color:#f2aadc; 
        }
        .color:nth-child(5){
            background-color:#dbafe4; 
        }
        .color:nth-child(6){
            background-color:#dfa1ee; 
        }
        .color:nth-child(7){
            background-color:#e46ee8; 
        }
        .color:nth-child(8){
            background-color:#a3d6f5; 
        }
        .color:nth-child(9){
            background-color:#cc81ea; 
        }
        .color:nth-child(10){
            background-color:#ecf5d8; 
        }
        .color:nth-child(11){
            background-color:#f0d1f1; 
        }
        .color:nth-child(12){
            background-color:#bbe8ff; 
        }
        .color:nth-child(13){
            background-color:#b350d1; 
        }
        .color:nth-child(14){
            background-color:#f6f6f4; 
        }
        .color:nth-child(15){
            background-color:#a7cce7; 
        }
        .color:nth-child(16){
            background-color:#8587eb; 
        }
        .color:nth-child(16){
            background-color:#0e5b97;
        }
        .color:nth-child(17){
            background-color:#f7e2f5;
        }
        .color:nth-child(18){
            background-color:#e9a5d4;
        }
        .color:nth-child(19){
            background-color:#9b82d3;
        }
        .color:nth-child(20){
            background-color:#fbf8d5;
        }
        .color:nth-child(21){
            background-color:#b088fb;
        }
        .color:nth-child(22){
            background-color:black;
        }
        
    }
}



/***CANVAS***/

section{
    padding: 10px;
    border: outset rgb(222, 222, 222);
    width: 700px;
    background-color: rgb(215, 215, 215);
    margin: auto;
    margin-top: 50px;
    .window_details{
        
        //border: solid rgb(199, 33, 199);
        height: 40px;
        background-color: rgb(253, 211, 255);
        padding-top: 5px;
        display: flex;
        justify-content: space-between;

        

        #file_name{
            font-size: 30px;
            color: white;
            padding-left: 10px;
            display: flex;

            .logo{
                height: 30px;
                width: 20px;
                margin-right: 10px;
                background-image: url("paint.png");
                background-size: cover;
            }
        }
        .buttons{
            height:30px;
            width: 120px;
            display: flex;
            justify-content: space-between;
            margin: 2px;
            
            .button{
                border: outset  rgb(222, 222, 222);
                background-color: rgb(222, 222, 222);
                height: 25px;
                width: 30px;
                font-size: 25px;
                padding-top: 3px;
                text-align: center;
                vertical-align: middle;
                align-self: center;
            }
        }

    }

    .window_options{
        display: flex;
        font-size: 20px;
        padding-bottom: 10px;
        border-bottom: solid 1px rgb(194, 194, 194) ;
        p{
            margin: 0px;
            margin-right: 20px;
      
        }
    }


    #canvas{
        //margin-top: 20px;
        background-color: white;
        margin-bottom: 10;
    }
}



/***TOOLBOX***/
.tool_box{
    height: 330px;
    width: 70px;
    //border: ridge  rgb(222, 222, 222);
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .tool{
        height: 30px;
        width: 30px ;
        border: outset  rgb(222, 222, 222);
        &:active {
            height: 34px;
            width: 34px ;
            background-color: rgb(186, 186, 186);
            border: outset 1px rgb(222, 222, 222);
        }
    }

    .brush{
        background-image: url('pictos/brush.png');
        background-size: cover;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        &:active{
            background-size: 65%;
            background-position: center;
        }
    }

    .pencil{
        background-image: url('pictos/pencil.png');
        background-size: cover;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        &:active{
            background-size: 65%;
            background-position: center;
        }
    }

    .eraser{
        background-image: url('pictos/eraser.png');
        background-size: cover;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        &:active{
            background-size: 65%;
            background-position: center;
        }
    }

    .line{
        background-image: url('pictos/line.png');
        background-size: cover;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        &:active{
            background-size: 65%;
            background-position: center;
        }
    }

    .square{
        background-image: url('pictos/square.png');
        background-size: cover;
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
        &:active{
            background-size: 65%;
            background-position: center;
        }
    }

    .circle{
        background-image: url('pictos/cercle.png');
        background-size: cover;
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        &:active{
            background-size: 65%;
            background-position: center;
        }
    }

    .text{

        p{
            font-family: 'Times New Roman', Times, serif;
            font-size: 30px;
            text-align: center;
            position: relative;
            bottom: 32px;
        }
    }
}