@charset "UTF-8";
/***GÉNÉRAL***/
body {
  background-image: url("grid_2.jpg");
  background-repeat: no-repeat;
}

h2 {
  font-family: Manjari;
  color: white;
}

div {
  font-family: "Pixel Operator";
}

/***SELECT***/
select {
  background-color: #ebebeb;
  border: 0px;
  border-radius: 5px;
  margin-right: 20px;
  font-family: Manjari;
  font-size: 20px;
  padding-top: 5px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

select:hover {
  background-color: #4c98af;
  color: white;
}

/***PALETTE COULEUR***/
.palette {
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
}
.palette .select_color {
  height: 46px;
  width: 46px;
  border: ridge #dedede;
}
.palette .select_color .first_color {
  height: 20px;
  width: 20px;
  border: ridge #dedede;
  position: relative;
  top: 5px;
  left: 5px;
  z-index: 2;
}
.palette .select_color .second_color {
  height: 20px;
  width: 20px;
  border: ridge #dedede;
  position: relative;
  left: 16px;
  bottom: 10px;
  background-color: white;
}
.palette .all_colors {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 45px;
}
.palette .all_colors .color {
  height: 20px;
  width: 20px;
  border: ridge #dedede;
}
.palette .all_colors .color:nth-child(1) {
  background-color: #e0a3c4;
}
.palette .all_colors .color:nth-child(2) {
  background-color: #ecd6e2;
}
.palette .all_colors .color:nth-child(3) {
  background-color: #3b8ccb;
}
.palette .all_colors .color:nth-child(4) {
  background-color: #f2aadc;
}
.palette .all_colors .color:nth-child(5) {
  background-color: #dbafe4;
}
.palette .all_colors .color:nth-child(6) {
  background-color: #dfa1ee;
}
.palette .all_colors .color:nth-child(7) {
  background-color: #e46ee8;
}
.palette .all_colors .color:nth-child(8) {
  background-color: #a3d6f5;
}
.palette .all_colors .color:nth-child(9) {
  background-color: #cc81ea;
}
.palette .all_colors .color:nth-child(10) {
  background-color: #ecf5d8;
}
.palette .all_colors .color:nth-child(11) {
  background-color: #f0d1f1;
}
.palette .all_colors .color:nth-child(12) {
  background-color: #bbe8ff;
}
.palette .all_colors .color:nth-child(13) {
  background-color: #b350d1;
}
.palette .all_colors .color:nth-child(14) {
  background-color: #f6f6f4;
}
.palette .all_colors .color:nth-child(15) {
  background-color: #a7cce7;
}
.palette .all_colors .color:nth-child(16) {
  background-color: #8587eb;
}
.palette .all_colors .color:nth-child(16) {
  background-color: #0e5b97;
}
.palette .all_colors .color:nth-child(17) {
  background-color: #f7e2f5;
}
.palette .all_colors .color:nth-child(18) {
  background-color: #e9a5d4;
}
.palette .all_colors .color:nth-child(19) {
  background-color: #9b82d3;
}
.palette .all_colors .color:nth-child(20) {
  background-color: #fbf8d5;
}
.palette .all_colors .color:nth-child(21) {
  background-color: #b088fb;
}
.palette .all_colors .color:nth-child(22) {
  background-color: black;
}

/***CANVAS***/
section {
  padding: 10px;
  border: outset #dedede;
  width: 700px;
  background-color: #d7d7d7;
  margin: auto;
  margin-top: 50px;
}
section .window_details {
  height: 40px;
  background-color: #fdd3ff;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}
section .window_details #file_name {
  font-size: 30px;
  color: white;
  padding-left: 10px;
  display: flex;
}
section .window_details #file_name .logo {
  height: 30px;
  width: 20px;
  margin-right: 10px;
  background-image: url("paint.png");
  background-size: cover;
}
section .window_details .buttons {
  height: 30px;
  width: 120px;
  display: flex;
  justify-content: space-between;
  margin: 2px;
}
section .window_details .buttons .button {
  border: outset #dedede;
  background-color: #dedede;
  height: 25px;
  width: 30px;
  font-size: 25px;
  padding-top: 3px;
  text-align: center;
  vertical-align: middle;
  align-self: center;
}
section .window_options {
  display: flex;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #c2c2c2;
}
section .window_options p {
  margin: 0px;
  margin-right: 20px;
}
section #canvas {
  background-color: white;
  margin-bottom: 10;
}

/***TOOLBOX***/
.tool_box {
  height: 330px;
  width: 70px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.tool_box .tool {
  height: 30px;
  width: 30px;
  border: outset #dedede;
}
.tool_box .tool:active {
  height: 34px;
  width: 34px;
  background-color: #bababa;
  border: outset 1px #dedede;
}
.tool_box .brush {
  background-image: url("pictos/brush.png");
  background-size: cover;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.tool_box .brush:active {
  background-size: 65%;
  background-position: center;
}
.tool_box .pencil {
  background-image: url("pictos/pencil.png");
  background-size: cover;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.tool_box .pencil:active {
  background-size: 65%;
  background-position: center;
}
.tool_box .eraser {
  background-image: url("pictos/eraser.png");
  background-size: cover;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.tool_box .eraser:active {
  background-size: 65%;
  background-position: center;
}
.tool_box .line {
  background-image: url("pictos/line.png");
  background-size: cover;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.tool_box .line:active {
  background-size: 65%;
  background-position: center;
}
.tool_box .square {
  background-image: url("pictos/square.png");
  background-size: cover;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}
.tool_box .square:active {
  background-size: 65%;
  background-position: center;
}
.tool_box .circle {
  background-image: url("pictos/cercle.png");
  background-size: cover;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.tool_box .circle:active {
  background-size: 65%;
  background-position: center;
}
.tool_box .colors {
  background-size: cover;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
.tool_box .colors:active {
  background-size: 65%;
  background-position: center;
}
.tool_box .colors input {
  width: 30px;
  height: 35px;
  position: relative;
  right: 3px;
  bottom: 5px;
  background-color: transparent;
  border: none;
}
.tool_box .text p {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: center;
  position: relative;
  bottom: 32px;
}

/*# sourceMappingURL=style.css.map */
