/***GÉNÉRAL***/
body{
    //background-image: url('grid.png');
    background: linear-gradient(90deg, rgba(230, 97, 228, 0.692) 1%, rgba(0,212,255,0.7152777777777778) 100%);
    
}
h2{
    font-family:Manjari;
    color: white;
}
div{
    font-family: "Pixel Operator";
}

/***BOUTONS***/


/***SELECT***/
select{
    background-color: rgb(235, 235, 235); 
    border: 0px;
    border-radius: 5px;
    margin-right: 20px;
    font-family:Manjari;
    font-size: 20px;
    padding-top:5px ;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

select:hover {
    background-color: rgb(76, 152, 175);
    color: rgb(255, 255, 255);
}


/***PALETTE COULEUR***/
.palette_couleurs{
    background-color:  rgb(235, 235, 235);
    border-radius: 5px;
    width: 100px;
    height: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    left: 555px;
    z-index: 200;
    bottom: 645px;
    display: none;
    
    .couleur1{
        width: 30px;
        height: 30px;
        background-color: rgb(0, 0, 0);
    }
    .couleur2{
        width: 30px;
        height: 30px;
        background-color: rgb(36, 124, 117);
    }
    .couleur3{
        width: 30px;
        height: 30px;
        background-color: rgb(81, 177, 110);
    }
    .couleur4{
        width: 30px;
        height: 30px;
        background-color: rgb(244, 117, 255);
    }
    .couleur5{
        width: 30px;
        height: 30px;
        background-color: rgb(214, 67, 214);
    }
    .couleur6{
        width: 30px;
        height: 30px;
        background-color: rgb(41, 197, 184);
    }
    .couleur7{
        width: 30px;
        height: 30px;
        background-color: rgb(255, 205, 66);
    }
    .couleur8{
        width: 30px;
        height: 30px;
        background-color: rgb(255, 114, 49);
    }
    .couleur9{
        width: 30px;
        height: 30px;
        background-color: rgb(206, 206, 206);
    }
}



/***CANVAS***/

section{
    padding: 10px;
    border: ridge rgb(222, 222, 222);
    width: 700px;
    background-color: rgb(215, 215, 215);
    .window_details{
        
        //border: solid rgb(199, 33, 199);
        height: 40px;
        background-color: rgb(253, 211, 255);
        padding-top: 5px;
        display: flex;
        justify-content: space-between;

        #file_name{
            font-size: 30px;
            color: white;
            padding-left: 10px;
        }
        .buttons{
            height:30px;
            width: 120px;
            display: flex;
            justify-content: space-between;
            margin: 2px;
            
            .button{
                border: ridge  rgb(222, 222, 222);
                background-color: rgb(222, 222, 222);
                height: 25px;
                width: 30px;
                font-size: 25px;
                padding-top: 3px;
                text-align: center;
                vertical-align: middle;
                align-self: center;
            }
        }

    }

    .window_options{
        display: flex;
        font-size: 20px;
        padding-bottom: 10px;
        border-bottom: solid 1px rgb(194, 194, 194) ;
        p{
            margin: 0px;
            margin-right: 20px;
      
        }
    }
    .tool_box{
        height: 250px;
        width: 80px;
        border: ridge  rgb(222, 222, 222);
        margin-right: 10px;
    }

    .palette{
        margin-top: 10px;
        width: 250px;
        height: 60px;
        border: ridge  rgb(222, 222, 222);
        margin-right: 10px;
    }
    #canvas{
        //margin-top: 20px;
        background-color: white;
        margin-bottom: 10;
    }
}